.review__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  grid-template-rows: auto;
  grid-gap: 20px;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px 23vw;
}

.review__row1 {
  display: flex;
  justify-content: flex-end;
  padding: 10px 23vw;
}

.review__submit {
  display: flex;
  flex-direction: column;
}
